{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    {% if error is defined %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Reset password</h1>
    {{ form(resetPasswordForm) }}
{% endblock %}