{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">SnowTricks</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p class="text-right" style="font-size: 2.5em;">
            <a class="nav-link" href="{{ path('new_trick') }}" style="text-align: right; margin-right: 2em;">&#43;</a>
        </p>
    {% endif %}
    {% set i = 0 %}
    <div id="tricks_block">
        <div class="row justify-content-center">
        {% for trick in tricks %}
            {%
                include 'tricks/card.html.twig'
                with {
                'id': trick.id,
                'delete_id': trick.id,
                'name': trick.name,
                'description': trick.description
            }
            %}
        {% endfor %}
        </div>
    </div>
    <button type="button" class="btn btn-info" id="loadMoreTricksBtn">Load More</button>
    <input id="pageType" type="hidden" value="trick_index">

{% endblock %}
