{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Update trick</h1>

    {{ form_start(updateTrickForm) }}
    {{ form_end(updateTrickForm) }}
{% endblock %}
